body{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(240, 240, 240);
    color: black;
}

@font-face {
    font-family: myFirstFont;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(Poppins-Bold.ttf);
}

.main-page{
    display: flex;
    align-items: center;
}

.main-left {
    max-width: 50%;
    padding-left: 80px;
    padding-right: 80px;
}

.main-left h2 {
    font-weight: 500;
    font-family: mySecondFont;
    font-size: 40px;
    margin: 0;
}

.main-left h1 {
    font-weight: 100;
    font-family: mySecondFont;
    font-size: 65px;
    margin: 0;
}

.main-left p {
  margin: 0;
  font-family: myFirstFont;
 
}

.main-left button {
     font-family: myFirstFont;
     margin-top: 20px;
     background-color: #F4B400;
     color: white;
     border: none;
     font-size: 20px;
     padding: 10px;
     border-radius: 40px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 9px;
     padding-bottom: 9px;
     cursor: pointer;
}

.main-right {
    min-width: 50%;
    /* display: flex; */
    align-items: center;
    text-align: center;
}

.main-right .main-img {
    height: 725px;
}

.main-right .main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar {
    position: absolute;
    top: 35%;
    z-index: 10;
    right: 0;
    background-color: #F4B400;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    gap: 25px;
    width: 30px;
    height: 240px;
    align-items: center;
    padding: 10px;
    margin-right: 30px;
}

.navbar i {
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size:23px;
}

.navbar a.active {
      color: white;
}

/* .erekshe {
    color: #333333;
} */

  @media (max-width:1085px) {
    .main-left {
    max-width: 50%;
    padding-left: 40px;
    padding-right: 40px;

}
}


@media (max-width:925px) {
.main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-left {
    
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    color: white;
    /* align-items: center; */
    top: 20%;
    /* text-align: center; */
    left: 5%;
    max-width: 100%;
}

.erekshe {
    color: rgb(187, 185, 185);
    width: 500px;
}

.main-right .main-img {
    height: 700px;
    width: 100%;
    background-color: black;
    margin: 0;
}

.main-right .main-img img{
    width: 916px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.navbar {
    position: fixed;
    top: 25%;
    z-index: 10;
    right: 0;
    background-color: #F4B400;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    gap: 25px;
    width: 30px;
    height: 240px;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    /* right: 0; */
    /* margin-left: 10000px; */
}


}


@media (max-width:490px) {
    
.main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-left {
    
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    color: white;
    /* align-items: center; */
    top: 20%;
    /* text-align: center; */
    left: 5%;
    max-width: 100%;
}

.main-left h1 {
    font-size: 60px;
}

.erekshe {
    color: rgb(187, 185, 185);
    width: 500px;
}

.main-right .main-img {
    height: 700px;
    width: 100%;
    background-color: black;
    margin: 0;
}

.main-right .main-img img{
    width: 916px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.navbar {
    position: fixed;
    top: 20%;
    z-index: 10;
    right: 0;
    background-color: #F4B400;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    gap: 25px;
    width: 30px;
    height: 240px;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    /* right: 0; */
    /* margin-left: 10000px; */
}



}